<!-- templates/partials/donation.html -->
<div class='row-md-1'>
  <div class='col-md-15 card border-primary mb-3" style="margin:15px; min-height:200px;'>
      <h4>{{ donation.charity }}</h4>
      <h5>${{ donation.amount }}</h5>
      <p>{{ donation.date }}</p>
      <div class='col-1'><form method='POST' action='/users/donations/{{ donation._id }}'>
        <input type='hidden' value='{{ user._id }}' name='user_id'/>
        <button class='badge rounded-pill bg-danger' type='submit'>Delete</button>
    </form></div>
  </div>
</div>

