<!-- templates/partials/users_form.html -->
{% extended 'base.html' %}

{% block content %}

<fieldset>
  <legend>{{ title }}</legend>
   <!-- TITLE -->
   <div class='form-group'>
       <label for='users-username'>Username</label><br>
       <input class='form-control' id='users-username' type='text' name='username' value='{{ users.username }}'/>
   </div>

   <!-- NAME -->
   <div class='form-group'>
       <label for='name'>Name</label><br>
       <input class='form-control' id='name' type='text' name='name' value='{{ users.name }}' />
   </div>

   <!-- Donations IDS -->

</fieldset>

{% endblock %}
