{% extends 'base.html' %}

{% block content %}
<p>
    <form action='/'>
    <button class='btn btn-primary' type='submit'>Home</button>
    </form>
</p>
<p><form action='/donations/new'>
    <button class='btn btn-success' type='submit'>New Donation</button>
    </form>
</p>

<div class='row'>
    <div class='col-md-3 card border-primary mb-3" style="margin:15px; min-height:200px;'>
        <h2>{{ user.username }}</h2>
        <h4>{{ user.name }}</h4>
        <p>Total Donated: $</p>
        <p>Impact Score: </p>  

        <p><a href='/users/{{ user._id }}/edit'>Edit User</a></p>
        <p><form action='/users/{{ user._id }}/edit'>
            <button class='btn btn-secondary' type='submit'>Edit User</button>
            </form>
        </p>
        <p><form method='POST' action='/users/{{user._id}}/delete'>
            <button class='btn btn-danger' type='submit'>Delete User</button>
        </form></p>
    </div>



    <!-- Add your new partial here: -->
    <!-- Comment form -->
    
    
    </div>
</div>
{% endblock %}

