{% extends 'base.html' %}

{% block content %}

<a href='/'>Back to Home</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ user.username }}</h1>
        <h2>{{ user.name }}</h2>

        <p><a href='/users/{{ user._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/users/{{user._id}}/delete'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>

        <hr>

    <!-- Add your new partial here: -->
    <!-- Comment form -->
    
    
    </div>
</div>
{% endblock %}

